
        <form [formGroup]="newQuizForm" (ngSubmit)="onAddQuiz()">
            <div class="text-center form-group">

                <div class="col-xs-6 col-xs-offset-3">
                    <label for="name">Give your quiz a name</label>
                    <input class="form-control" 
                        type="text"
                        formControlName="quizName"/>
                    <br>
                    <div class="row">
                        <label for="colour">Select a colour theme</label>
                    </div>
                        <app-colour-picker [initialForm]="newQuizForm"></app-colour-picker>
                        <app-standard-button 
                            [setButtonText]="'Create a quiz'"
                            [setButtonSize]="'l'"
                            [isEnabled]=newQuizForm.valid>
                        </app-standard-button>             
                </div>
            </div>
        </form>
