
        <form (ngSubmit)="onAddQuiz()">
            <div class="text-center form-group">

                <div class="col-xs-6 col-xs-offset-3">
                    <label for="name">Give your quiz a name</label>
                    <input class="form-control" 
                    type="text"/>
                    <br>
                        <label for="colour">Select a colour theme</label>
                        <div class="row">
                            <div class="col-xs-2 col-md-offset-5">
                                <a>
                                    <div class="col" 
                                        id="colour-picker-img"></div>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </form>
