<div *ngIf="subQuestionIsInEditMode | async" id="questionBuilderContainer">
    <div class="cancel-button row">
        <div class="col-xs-12">
            <button (click)="cancelQuestion(false)">
                Cancel
            </button>
        </div>
    </div>
    <div class="row">
        <div *ngIf="showQuestionTypes" class="col-xs-12">
            <ul class="list-group">
                <a (click)="toggleQuestionTemplate(1,false)">
                    <li class="list-group-item">Multiple choice</li>
                </a>
                <a (click)="toggleQuestionTemplate(2,false)">
                    <li class="list-group-item">Text</li>
                </a>        
                <a (click)="toggleQuestionTemplate(3,false)">
                    <li class="list-group-item">True/False</li>
                </a>
            </ul>
        </div>
    </div>

    <div [ngSwitch]="questionType">
        <div *ngIf="!showQuestionTypes">
            <button class="btn" 
                    (click)="toggleQuestionTemplate(0,true)">
                Back
            </button>
            <form [formGroup]="questionForm" (ngSubmit)="saveQuestion()">
                        <div class="form-group">
                            <label>Question</label>
                            <textarea formControlName="questionText" 
                                    class="form-control"></textarea>
                        
                
                <div *ngSwitchCase=1>
                    <app-question-multiple-choice-form 
                        [questionForm]="questionForm">
                    </app-question-multiple-choice-form>
                </div>
                <div *ngSwitchCase=2>
                    <app-question-text-form 
                        [questionForm]="questionForm">
                    </app-question-text-form>
                </div>
                <div *ngSwitchCase=3>
                    <app-question-true-false-form 
                        [questionForm]="questionForm">
                    </app-question-true-false-form>
                </div>
                <button appAppButton
                        class="btn">Save
                </button>
            </div>
            </form>
            
        </div>
    
    </div>

</div>
