<div *ngIf="roundNum" id="questionBuilderContainer">
    <div *ngIf="showQuestionTypes">
        <ul class="list-group">
            <a (click)="loadQuestionTemplate(1)">
                <li class="list-group-item">Multiple choice</li>
            </a>
            <a (click)="loadQuestionTemplate(2)">
                <li class="list-group-item">Text</li>
            </a>        
            <a (click)="loadQuestionTemplate(3)">
                <li class="list-group-item">True/False</li>
            </a>
        </ul>
    </div>

    <div [ngSwitch]="questionType">
        <div *ngIf="!showQuestionTypes">
            <button class="btn" 
                    (click)="backToTypes()">
                Back
            </button>
        </div>
        <div *ngSwitchCase=1>
            <app-question-multiple-choice-form [roundNumber]=roundNum></app-question-multiple-choice-form>
        </div>
        <div *ngSwitchCase=2>
            <app-question-text-form [roundNumber]=roundNum></app-question-text-form>
        </div>
        <div *ngSwitchCase=3>
            <app-question-true-false-form [roundNumber]=roundNum></app-question-true-false-form>
        </div>
    </div>
</div>
