<div class="row">
    <div class="col-xs-6">
        <app-round-builder-container></app-round-builder-container>
    </div>
    <div class="col-xs-6">
        <app-question-builder-container></app-question-builder-container>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <button appAppButton class="btn"
                (click)="playQuiz()">Play quiz</button>
    </div>
    <div class="col-xs-2">
        <button appAppButton class="btn">Share quiz</button>
    </div>
</div>
