
.content-container {
    height: 85%;
}

.container-main {
    min-height: 85%;
    margin: 0;
}

.header-container {
    min-height: 15%;
}

.footer-container {
    height: 50px;
    margin-top: -50px;
}