
.content-container {
    height: 85%;
    overflow: scroll;
}

.container {
    overflow: auto;
    height: 90%;
}

.container-main {
    min-height: 100%;
    margin: 0;
}

.header-container {
    min-height: 15%;
}

.footer-container {
    height: 50px;
    margin-top: -50px;
}