<div class="row">
        <div class="text-center">
            <app-standard-button [setButtonText]="'Create a quiz'"
                [setButtonSize]="'l'"
                (buttonClicked)="nagivateToCreateQuiz()">
            </app-standard-button>
</div>
</div>
<div class="text-center">
        <h2>OR</h2>
</div>
 <div class="row">
        <div class="text-center">
            <app-standard-button [setButtonText]="'Play a quiz'"
                [setButtonSize]="'l'">
            </app-standard-button>        
        </div>
</div>
<!--TESTING
<div class="row">
    <div class="text-center">
        <app-standard-button [setButtonText]="'Hello World'"
                            [setButtonSize]="'p'"
                            (buttonClicked)="nagivateToCreateQuiz()"></app-standard-button>
    </div>
</div>-->

