<div class="row">
    <div class="text-center">
        <button appAppButton
                class="btn btn-lg"
                (click)="nagivateToCreateQuiz()">
                Create a quiz
        </button>
    </div>
</div>
<div class="text-center">
        <h2>OR</h2>
</div>
 <div class="row">
    <div class="text-center">
        <button appAppButton
                class="btn btn-lg"
                (click)="nagivateToSelectQuiz()"
                >
                Play a quiz
        </button>     
    </div>
</div>


